
canvas{
	border: 15 px solid #000000;
	background-image: url("bai-bien-dep-nhat-ban-1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}
body{
	text-align: center;
}
